<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="restAssuredTestSuite">
    <test name="restAssuredTrello">
        <classes>
            <class name="testCases.PostCreateBoard"/>
            <class name="testCases.GetBoard"/>
            <class name="testCases.PostBoardLabel"/>
            <class name="testCases.PutBoard"/>
            <class name="testCases.DeleteBoard">
                <methods>
                    <exclude name="deleteBoard"></exclude>
                    <exclude name="checkBody"></exclude>
                </methods>
            </class>
        </classes>
    </test>
</suite>
